// Boostrap con CSS modificado

@import "./scss/_bootstrap-grey-mod";
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
  overflow-x: hidden;
}


$dorado : #F6E782;
//Fuentes

.fuente-titulo {
    font-family: 'Permanent Marker', cursive;
}

.tamaño-fuente{
  font-size: 4.7rem;
}

.fuente-textoComun{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

//Backgrounds

.bg-cuadrados-servicios{
    background-color: #0096c7;
}

.bg-project{
  background-color: #83c5be;
}

.bg-cualidades{
  background-color: #006d77;
// tomada de https://coolors.co/palette/006d77-83c5be-edf6f9-ffddd2-e29578
}

//Boton del titulo

.btn-13 {
  background-color: #89d8d3;
background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
  border: none;
  z-index: 1;
}
.btn-13:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
   background-color: #4dccc6;
background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.btn-13:hover {
  color: #fff;
}
.btn-13:hover:after {
  top: 0;
  height: 100%;
}
.btn-13:active {
  top: 2px;
}


//sección recomendaciones

.seccion-recom{
  padding: 10rem;
  background-color: #edf6f9;
}





.color-titulo { background: -webkit-linear-gradient(to right, #F6E782 0%, #23B6C2 100%);
    background: -moz-linear-gradient(to right, #F6E782 0%, #23B6C2 100%);
    background: linear-gradient(to right, #e5d250 0%, #1cecfd 100%); 
}

.content-section {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }
  
  .content-section-heading h2, .content-section-heading .h2 {
    font-size: 3rem;
  }
  .content-section-heading h3, .content-section-heading .h3 {
    font-size: 1rem;
    text-transform: uppercase;
  }

  .service-icon {
    background-color: #fff;
    color: #1D809F;
    height: 7rem;
    width: 7rem;
    display: block;
    line-height: 7.5rem;
    font-size: 2.25rem;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  }